input:focus, textarea:focus, select:focus{
	outline: none;
}

.editorarea {
    width: 100%;
    height: 94%;
    background-color: #132b33;
    border-style: none;
    resize: none;
    color: white;
    text-shadow: 0 0 1px black;
    padding: 15px;
    position: relative;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
    overflow-y: auto;
    margin-top: 36px;
	font-size: 17px;
}

.editoroptions {
    position: absolute;
    z-index: 1;
    right: 15;
}

.postoptions {
	position: absolute;
	z-index: 1;
	left: 15;
}

button {
	cursor: pointer;
    background-color: #0000004d;
    border-style: solid;
    border-width: 1px;
    color: white;
    font-size: 16px;
    padding: 6px;
	transition: background-color 0.5s;
}

button:hover {
	background-color: #5050504d;
}

dialog.propmenu {
    z-index: 2;
    position: fixed;
    right: 150px;
    left: unset;
    width: 30%;
    height: 60%;
    background-color: #305c9e;
    border-color: #ffffff;
    border-radius: 7px;
}

img.videothumb {
    width: 200px;
    border-style: solid;
    border-radius: 7px;
}

img.imagethumb {
    width: 50%;
    border-style: solid;
    border-radius: 7px;
}

.propTitle {
    color: #84e7ff;
    font-family: sans-serif;
    text-shadow: 0 0 2px black;
    background-color: #0000004d;
    display: table;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.propContent {
    font-family: sans-serif;
    color: white;
	background-color: #00000040;
	padding: 4%;
}

.propTextarea {
    width: 101%;
    resize: none;
    overflow: auto;
    border-style: solid;
    background-color: #112544;
    color: cornflowerblue;
    border-width: 2px;
    border-color: #305c9e;
	margin-left: 5px;
    padding-left: 2%;
}

.propLinha {
    background-color: #00000040;
    padding: 2%;
    display: flex;
}

dialog.previewpost {
    z-index: 3;
    position: fixed;
    width: 95%;
    height: 62%;
    bottom: 50px;
    background-color: #23435d;
    box-shadow: 0px 5px 15px #00000069;
    border-width: 10px;
    border-color: #040a0cb0;
	font-family: sans-serif;
	overflow: auto;
	box-sizing: border-box;

}

/* Cube BR Styles */

h3.Ptitulo {
    color: white;
    font-size: x-large;
    background-color: #00000052;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 2px 0px black;
    margin-bottom: -14px;
}


p.Ptexto {
    color: white;
    background-color: #0000001f;
    padding: 15px;
    margin-bottom: 0px;
}

img.Pimagem {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: #1f364a;
    padding: 7px;
}

.Pbloco {
    display: table;
}

.Pvideo {
    width: 102%;
    height: 500px;
    box-shadow: 0 0 5px 1px #0000008c;
    background-color: black;
    margin-top: 7px;
}

ul.Ullista {
    color: lightsteelblue;
    background-color: #1f3b52;
    margin-top: 0;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-color: #192f42;
}

a:visited {
    color: #2196f3;
}

a {
	text-decoration: none;
    color: #2196f3;	
}

/* Scrollbar by: GhostRider (https://codepen.io/GhostRider/pen/GHaFw) */

::-webkit-scrollbar-corner
{
	display: none;
}
::-webkit-scrollbar-track
{

	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	cursor: pointer;
	width: 12px;
	background-color: unset;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #4799b5;
}